:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  h1 {
    color: #DBD0BD;
  }
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
}

.post-cards {
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.post-card {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
}

.post-card h2 {
  margin-top: 0;
}

.content {
  padding: 20px;
}
